@import "reset";
@import "general";
@import "flex";

header h1 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
.nav-bar-container {
    background-color: white;
    width: 100%;
    padding: 0.8rem;
    border-top: 3px solid #23A0C2;
    margin: 2rem 0;
    .nav-bar {
        margin: 0 2rem;
        a {
            color: #23A0C2;
            font-weight: 600;
        }
    }
}
.item-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left-side-bar-one  main-item right-side-bar-one"
                          "left-side-bar-two main-item right-side-bar-two"
                          "left-side-bar-two main-item right-side-bar-three";
}
.left-side-bar-one {
    grid-area: left-side-bar-one;
}
.left-side-bar-two {
    grid-area: left-side-bar-two;
}
.main-item {
    grid-area: main-item;
}
.right-side-bar-one {
    grid-area: right-side-bar-one;
}
.right-side-bar-two {
    grid-area: right-side-bar-two;
}
.right-side-bar-three {
    grid-area: right-side-bar-three;
}
.item {
    background-color: white;
    padding: 0 0.5rem;
    a {
        color: red;
    }
}
h2 {
    font-size: 1.2rem;
    margin-top: 0.2rem;
    color: rgb(95, 93, 93);
    font-weight: 600;
}
p {
    margin: 1rem 0;
    font-size: 0.8rem;
}
.side-bar-fig {
    width: 100px;
}
.main-fig {
    width: 250px;
    img {
        border-radius: 50%;
    }
}
figure {
    margin: 1rem auto;
}